body{
    margin-top:50px;
    color:#404040;
}
h1,h2,h3{
    margin-top:0px;
}
.navbar-menu
{
    line-height: 22px;
    padding: 14px 30px 0 5px;
    display:inline;
    float:left;
}
    .navbar-menu img {
        vertical-align: middle;
        cursor:pointer;
    }
.navbar-brand
{
    line-height: 22px;
    padding: 14px 0 0 10px;
}
    .navbar-brand img {
        display: inline;
        vertical-align: middle;
    }
    .navbar-brand span {
        display: inline;
        vertical-align: middle;
        padding-left:10px;
        color:#009c14;
    }
.navbar-default {
    
}
.footer-right
{
    padding-right:10px;
}
.login-right
{       
    float:right;
    line-height: 22px;
    padding: 14px 0 0 0;
    color:white;
}

    .login-right a {
        text-decoration: none;
        color: #009c14;
        font-size: 22px;
    }


.submenuItems ul {
    list-style:none;
    margin:0;
    padding:0;
}
    .submenuItems ul li {
        margin: 0;
        padding: 0;
        text-indent:0;
    }
        .submenuItems ul li a {
            display: block;
            text-decoration: none;
            color: #404040;
            font-weight:bold;
            font-size: 14px;
            padding: 4px 15px;
        }

.selected {
    background-color: darkgreen;
}
    .selected a {
        color: white!important;
    }
.cursor-pointer{
    cursor:pointer;
}
.recordingCanvas {
	background: url(images/greyzz.png);
    background-repeat:repeat;
    border:dashed 1px #404040;	
	display: block;
	margin: 0 auto;
}
.recordAnalyser{
    width:90%;
    height:80px;
    margin-left:10px;
    margin-right:10px;
    position:absolute;
    bottom:60px;
}
.breadcrumb li a {
  color: #9b9b9b !important;
}
.modal-backdrop {
    z-index:0;
}

.loader-walk {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loader-walk > div {
  content: "";
  width: 20px;
  height: 20px;
  background: #2196F3;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}
.loader-walk > div:nth-of-type(1) {
  -webkit-animation-delay: -.4s;
          animation-delay: -.4s;
}
.loader-walk > div:nth-of-type(2) {
  -webkit-animation-delay: -.8s;
          animation-delay: -.8s;
}
.loader-walk > div:nth-of-type(3) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.loader-walk > div:nth-of-type(4) {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

@-webkit-keyframes animate {
  0% {
    left: 100px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -20px;
    width: 20px;
    height: 20px;
  }
  90% {
    width: 40px;
    height: 15px;
  }
  95% {
    left: 100px;
    top: -20px;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 100px;
    top: 0;
  }
}

@keyframes animate {
  0% {
    left: 100px;
    top: 0;
  }
  80% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: -20px;
    width: 20px;
    height: 20px;
  }
  90% {
    width: 40px;
    height: 15px;
  }
  95% {
    left: 100px;
    top: -20px;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 100px;
    top: 0;
  }
}