<p>
    Welcome to KooBoo Framework POCO Generator.<br />
    <br />
    KooBoo.Framework POCO Generator. Generates c# entity classes and stored procedures based on a MSSql table
    <br /><br />
    The purpose of this project is to generate poco entity clases and stored procs that runs on the KooBoo enterprise library framework.
    <br /><br />
    The KooBoo framework is what drives the KooBoo Shop SA ecommerce platform and is a simplified framework used to manage data on large enterprise systems.
</p>