<script type="text/javascript">
    $(function () {
        function MenuViewModel() {
            var self = this;

            //Properties

            //Functions
            self.init = function () {
                
            }

            //Events
            self.NewGenerateClick = function (project, event) {
                App.PageManager.LoadPage("connect");
            }

            //Load View Model
            self.init();
        }

        ko.applyBindings(new MenuViewModel(), document.getElementById("mainIndexMenu"));
    });
</script>
<div id="mainIndexMenu">
    <ul class="nav sidebar-nav nav-pills nav-stacked">
        <li>
            <a href="#" data-bind="click: NewGenerateClick"><span class="fa fa-asterisk fa-fw"></span> New POCO Generation</a>
        </li>
    </ul>
</div>