<script type="text/javascript">
    $(function () {
        function MenuViewModel() {
            var self = this;

            //Properties

            //Functions
            self.init = function () {

            }

            //Events
            self.HomeClick = function (project, event) {
                App.NavigateHome();
            }
            self.TemplatesClick = function (project, event) {
                
            }
            self.ConnectionClick = function (project, event) {

            }

            //Load View Model
            self.init();
        }

        ko.applyBindings(new MenuViewModel(), document.getElementById("Menu"));
    });
</script>
<div id="Menu">
    <ul class="nav sidebar-nav nav-pills nav-stacked">
        <li>
            <a href="#" data-bind="click:HomeClick"><span class="fa fa-home fa-fw"></span> Home</a>
        </li>
        <li>
            <a href="#" data-bind="click:TemplatesClick"><span class="fa fa-file-text fa-fw"></span> Templates</a>
        </li>
        <li>
            <a href="#" data-bind="click:ConnectionClick"><span class="fa fa-database fa-fw"></span> Default DB Connection</a>
        </li>
    </ul>
</div>