<script type="text/javascript">
    $(function () {
        function ConnectViewModel() {
            var self = this;

            //Properties
            self.user = ko.observable();
            self.password = ko.observable();
            self.server = ko.observable();
            self.database = ko.observable();
            self.encrypt = ko.observable(false);

            //Functions
            self.init = function () {
                App.ShowLoading();

                //Load last connection details
                if (App.Variables.ConnectionConfig.user != "") {
                    self.user(App.Variables.ConnectionConfig.user);
                    self.password(App.Variables.ConnectionConfig.password);
                    self.server(App.Variables.ConnectionConfig.server);
                    self.database(App.Variables.ConnectionConfig.database);
                    self.encrypt(App.Variables.ConnectionConfig.options.encrypt);

                    App.HideLoading();
                }
                else
                {
                    App.ShowLoading();

                    //Load default connection from DB
                    App.Connections.FindByCode(App.Constants.Enums.Connections.DEFAULT).then(function (connection) {
                        if (!$.isEmptyObject(connection)) {

                            self.user(connection.user);
                            self.password(connection.password);
                            self.server(connection.server);
                            self.database(connection.database);
                            self.encrypt(connection.encrypt);
                        }

                        App.HideLoading();
                    });
                }
            }

            //Events
            self.FormSubmit = function () {
                App.ShowLoading();

                //Set Config
                App.Variables.ConnectionConfig.user = self.user();
                App.Variables.ConnectionConfig.password = self.password();
                App.Variables.ConnectionConfig.server = self.server();
                App.Variables.ConnectionConfig.database = self.database();
                App.Variables.ConnectionConfig.options.encrypt = self.encrypt();

                App.ConnectSql(function (connection) {
                    App.HideLoading();

                    //Clear selected tables
                    App.Variables.SelectedTables = [];

                    App.PageManager.LoadPage("select_tables");
                });

            }
            self.cancelClick = function (data, event) {
                App.PageManager.NavigateBack();
            }

            //Load View Model
            self.init();
        }

        App.Variables.activePageViewModel = new ConnectViewModel();
        ko.applyBindings(App.Variables.activePageViewModel, document.getElementById("ConnectForm"));
    });
</script>

<div id="ConnectForm">
    <form data-bind="submit:FormSubmit" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Server</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-bind="value:server" placeholder="Enter server name localhost\\instance" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">User</label>
            <div class="col-sm-8">
                <input type="text" data-bind="value: user" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" data-bind="value:password" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Database</label>
            <div class="col-sm-8">
                <input type="text" data-bind="value: database" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Settings</label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: encrypt"> Encrypt connection
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
            <button type="button" class="btn btn-default" data-bind="click: cancelClick">Cancel</button>
            <button type="submit" class="btn btn-primary">Connect</button>
        </div>
        
    </form>
</div>