<script type="text/javascript">
    $(function () {
        function FolderViewModel() {
            var self = this;

            //Properties
            self.folder = ko.observable();
            self.tablesCount = ko.observable(0);
            self.tmplPreview = ko.observable();
            self.namespace = ko.observable("SomeNamespace.ModuleName");
            self.baseClass = ko.observable("BusinessBase");
            self.errorClass = ko.observable("Error");
            self.classTemplate = ko.observable();
            self.baseClassTemplate = ko.observable();
            self.errorClassTemplate = ko.observable();
            self.interfaceClassTemplate = ko.observable();
            self.exportBase = ko.observable(true);
            self.exportError = ko.observable(true);
            self.exportInterface = ko.observable(true);

            //Functions
            self.init = function () {
                App.ShowLoading();

                self.LoadClassTemplate();

                self.tablesCount(App.Variables.SelectedTables.length);
                self.renderFirstTablePreview();

                App.HideLoading();
            }
            self.LoadClassTemplate = function()
            {
                $.ajaxSetup({ cache: false });

                //Load the class resources
                App.Templates.FindByCode(App.Constants.Enums.Templates.CCLASS_TEMPL).then(function (template) {
                    if (!$.isEmptyObject(template)) {
                        self.classTemplate(template.templateContent);
                    }
                    else {
                        $.get("scripts/app/Resources/ClassTemplate.js", function (response) {
                            self.classTemplate(response);
                        }).error(function (msg) { console.log(msg); });
                    }
                });

                //Load the base class resources
                App.Templates.FindByCode(App.Constants.Enums.Templates.CBASE_CLASS_TEMPL).then(function (template) {
                    if (!$.isEmptyObject(template)) {
                        self.baseClassTemplate(template.templateContent);
                    }
                    else {
                        $.get("scripts/app/Resources/BaseClassTemplate.js", function (response) {
                            self.baseClassTemplate(response);
                        }).error(function (msg) { console.log(msg); });
                    }
                });

                //Load the error class resources
                App.Templates.FindByCode(App.Constants.Enums.Templates.CCLASS_TEMPL_ERROR).then(function (template) {
                    if (!$.isEmptyObject(template)) {
                        self.errorClassTemplate(template.templateContent);
                    }
                    else {
                        $.get("scripts/app/Resources/ErrorClassTemplate.js", function (response) {
                            self.errorClassTemplate(response);
                        }).error(function (msg) { console.log(msg); });
                    }
                });

                //Load the interface class resources
                App.Templates.FindByCode(App.Constants.Enums.Templates.CINTERFACE_CLASS_TEMPL).then(function (template) {
                    if (!$.isEmptyObject(template)) {
                        self.interfaceClassTemplate(template.templateContent);
                    }
                    else {
                        $.get("scripts/app/Resources/ClassInterfaceTemplate.js", function (response) {
                            self.interfaceClassTemplate(response);
                        }).error(function (msg) { console.log(msg); });
                    }
                });
            }
            self.renderFirstTablePreview = function()
            {
                self.GetTableData(App.Variables.SelectedTables[0].tableName, function (data) {
                    self.tmplPreview($("#classTemplate").render(data));
                });
            }
            self.GetTableData = function(tableName, callback)
            {
                App.ShowLoading();

                var objTeml = {
                    TableName: "",
                    Columns: [],
                    IdentityColumns: [],
                    namespace: "",
                    baseClass: "",
                    exportBase: "",
                    exportError: "",
                    exportInterface: ""
                }
                var data = objTeml;
                data.TableName = tableName;
                data.namespace = self.namespace();
                data.baseClass = self.baseClass();
                data.exportBase = self.exportBase();
                data.exportError = self.exportError();
                data.exportInterface = self.exportInterface();

                //Get columns for first table
                App.ConnectSql(function (connection) {
                    var request = new App.sql.Request(connection);

                    request.query("exec sp_columns '" + data.TableName + "'", function (err, recordset) {
                        if (err != null && err.code != "") {
                            bootbox.alert(err.message, function () { });
                        }
                        else {
                            //Get Identity columns
                            self.GetIdentityColumns(recordset, data.TableName, function (identityColumns) {
                                data.IdentityColumns = identityColumns;
                                
                                //Process normal columns
                                $(recordset).each(function (index, column) {
                                    var datType = self.GetDataType(column.TYPE_NAME);
                                    data.Columns.push({
                                        ColumnName: column.COLUMN_NAME,
                                        DataType: datType,
                                        IsIntColumn: (datType.toLowerCase() == "int") ? true : false,
                                        IsDateTimeColumn: (datType.toLowerCase() == "datetime") ? true : false,
                                        IsBoolColumn: (datType.toLowerCase() == "bool") ? true : false,
                                        EnumDataType: self.GetEnumDataType(column.TYPE_NAME)
                                    });
                                });

                                callback(data);
                            });
                        }

                        App.HideLoading();
                    });

                });

            }
            self.GetIdentityColumns = function (tableColumns, tableName, callback) {
                var IdentityColumns = [];

                App.ShowLoading();

                var query = "\
                    SELECT COLUMN_NAME \
                    FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE \
                    WHERE OBJECTPROPERTY(OBJECT_ID(constraint_name), 'IsPrimaryKey') = 1 \
                    AND table_name = '" + tableName + "'";

                App.ConnectSql(function (connection) {
                    var request = new App.sql.Request(connection);

                    request.query(query, function (err, recordset) {
                        if (err != null && err.code != "") {
                            bootbox.alert(err.message, function () { });
                        }
                        else {
                            $(recordset).each(function (index, column) {
                                //Get original column details
                                var orColumn = $.grep(tableColumns, function (item) {
                                    return item.COLUMN_NAME.toLowerCase() == column.COLUMN_NAME.toLowerCase();
                                });

                                //Add Identity column
                                IdentityColumns.push({
                                    IdentityColumn: orColumn[0].COLUMN_NAME,
                                    IdentityType: self.GetDataType(orColumn[0].TYPE_NAME),
                                    IdentityEnumType: self.GetEnumDataType(orColumn[0].TYPE_NAME),
                                    LineEnding: ((index + 1) < recordset.length) ? "," : ""
                                });
                            });

                            callback(IdentityColumns);
                        }

                        App.HideLoading();
                    });
                });
            }
            self.GetBaseData = function(callback)
            {
                var objTeml = {
                    namespace: "",
                    baseClass: ""
                }
                var data = objTeml;
                data.namespace = self.namespace();
                data.baseClass = self.baseClass();

                callback(data);
            }
            self.GetDataType = function(typeNam)
            {
                var value = "";

                switch(typeNam.toLowerCase())
                {
                    case "int identity": value = "int"; break;
                    case "smallint": value = "int"; break;
                    case "int": value = "int"; break;
                    case "datetime": value = "DateTime"; break;
                    case "varchar": value = "string"; break;
                    case "text": value = "string"; break;
                    case "decimal": value = "Decimal"; break;
                    case "numeric": value = "Decimal"; break;
                    case "bigint": value = "Int64"; break;
                    case "bit": value = "bool"; break;
                    case "image": value = "byte[]"; break;
                    case "uniqueidentifier": value = "Guid"; break;
                    case "smalldatetime": value = "DateTime"; break;
                    case "nvarchar": value = "string"; break;
                }

                return value;
            }
            self.GetEnumDataType = function (typeNam) {
                var value = "";

                switch (typeNam.toLowerCase()) {
                    case "int identity": value = "SqlDbType.Int"; break;
                    case "int": value = "SqlDbType.Int"; break;
                    case "datetime": value = "SqlDbType.DateTime"; break;
                    case "varchar": value = "SqlDbType.VarChar"; break;
                    case "text": value = "SqlDbType.Text"; break;
                    case "decimal": value = "SqlDbType.Decimal"; break;
                    case "numeric": value = "SqlDbType.Money"; break;
                    case "bigint": value = "SqlDbType.BigInt"; break;
                    case "bit": value = "SqlDbType.Bit"; break;
                    case "image": value = "SqlDbType.Image"; break;
                    case "uniqueidentifier": value = "SqlDbType.UniqueIdentifier"; break;
                    case "smalldatetime": value = "SqlDbType.SmallDateTime"; break;
                    case "nvarchar": value = "SqlDbType.NVarChar"; break;
                    case "smallint": value = "SqlDbType.SmallInt"; break;
                }

                return value;
            }
            self.writeTextFile = function(text, fileName)
            {
                var fullPath = self.folder() + "\\" + fileName;

                App.mkdirp(App.getDirName(fullPath), function (err) {
                    App.fileSystem.writeFile(fullPath, text, function (err) {

                    });
                });
            }

            //Events
            self.FormSubmit = function () {
                App.ShowLoading();

                //Generate normal tables
                $(App.Variables.SelectedTables).each(function (index, table) {
                    self.GetTableData(table.tableName, function (data) {
                        var classText = $("#classTemplate").render(data);
                        self.writeTextFile(classText, "Classes\\" + table.tableName + ".cs");
                    });
                });
                //Generate base class
                if (self.exportBase()) {
                    self.GetBaseData(function (data) {
                        var classText = $("#baseClassTemplate").render(data);
                        self.writeTextFile(classText, "BaseClasses\\" + self.baseClass() + ".cs");
                    });
                }
                //Generate error class
                if (self.exportError()) {
                    self.GetBaseData(function (data) {
                        var classText = $("#errorClassTemplate").render(data);
                        self.writeTextFile(classText, "BaseClasses\\" + self.errorClass() + ".cs");
                    });
                }
                //Generate interface classes
                if (self.exportInterface()) {
                    $(App.Variables.SelectedTables).each(function (index, table) {
                        self.GetTableData(table.tableName, function (data) {
                            var classText = $("#interfaceClassTemplate").render(data);
                            self.writeTextFile(classText, "Interfaces\\I" + table.tableName + ".cs");
                        });
                    });
                }

                App.HideLoading();
                bootbox.alert("Classes exported to " + self.folder() + "\\", function () { });
            }
            self.cancelClick = function (data, event) {
                App.PageManager.NavigateBack();
            }

            //Load View Model
            self.init();
        }

        App.Variables.activePageViewModel = new FolderViewModel();
        ko.applyBindings(App.Variables.activePageViewModel, document.getElementById("SelectFolder"));
    });
</script>

<div id="SelectFolder">
    <form data-bind="submit:FormSubmit">
        <div class="form-group">
            <label class="control-label">Selected Tables</label>
            <div>
                <span class="form-control-static" data-bind="text: tablesCount"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Namespace</label>
            <input type="text" data-bind="value: namespace" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Base Class</label>
            <input type="text" data-bind="value: baseClass" class="form-control" required>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" data-bind="checked: exportBase"> Export base class
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" data-bind="checked: exportError"> Export base error class
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" data-bind="checked: exportInterface"> Export interface classes
            </label>
        </div>
        <div class="form-group">
            <label>Select a folder to export to</label>
            <input type="file" nwdirectory data-bind="value:folder" required />
            <p class="help-block">Export to: <span data-bind="text: folder"></span></p>
        </div>
        <button type="submit" class="btn btn-primary">Export Classes</button>
    </form>
    <br />
    <h3>Export Preview</h3>
    <textarea rows="25" class="form-control" data-bind="value:tmplPreview"></textarea>
    <script id="classTemplate" type="text/x-jquery-tmpl" data-bind="text: classTemplate"></script>
    <script id="baseClassTemplate" type="text/x-jquery-tmpl" data-bind="text: baseClassTemplate"></script>
    <script id="baseClassTemplate" type="text/x-jquery-tmpl" data-bind="text: baseClassTemplate"></script>
    <script id="errorClassTemplate" type="text/x-jquery-tmpl" data-bind="text: errorClassTemplate"></script>
    <script id="interfaceClassTemplate" type="text/x-jquery-tmpl" data-bind="text: interfaceClassTemplate">
    </script>
</div>